* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}


/*About us*/
.circled {
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  line-height: 1.6em!important;
}

.bg-skin {
  background: #4ACCD1;
}